<?php
/**
 * Specifies whether the application is running in debug mode.
 * When in debug mode, an application will keep more log information, 
 * and will reveal detailed error call stacks if exceptions are thrown.
 * For this reason, debug mode should be used mainly during development.
 */
define('YII_DEBUG', false);
/**
 * Specifies which environment the application is running in.
 * The default value of YII_ENV is 'prod', meaning the application
 * is running in production environment.
 */
define('YII_ENV', 'prod');