<?php
/**
 * Sample local configuration file
 * This is merged with config/web.php, so thatconfig/web-local.php wins
 */
return [
    'timeZone' => 'Europe/Berlin', //time zone affect the formatter datetime format
    'language' => 'en',
    'components' => [
        // 'db' => [
        //     'class'     => 'yii\db\Connection',
        //
        //     // Whether to enable schema caching:
        //     'enableSchemaCache' => true,
        //
        //     // Number of seconds that table metadata can remain valid in cache
        //     'schemaCacheDuration' => 3600,
        // ],
        'mailer' => [ // {{{ 
            'class' => 'yii\symfonymailer\Mailer',
            // send all mails to a file by default. You have to set
            // 'useFileTransport' to false and configure a transport
            // for the mailer to send real emails.
            'useFileTransport' => true,
        ], // }}} 
    ],
    'bootstrap' =>[
        'debug',
        'gii'
    ],
    'modules' => [
        'debug' => [
            'class' => 'yii\debug\Module',
            'allowedHosts' => ['cost-splitting.ddev.site'],
        ],
        'gii' => [
            'class' => 'yii\gii\Module',
            'allowedIPs' => ['127.0.0.1', '::1', '172.19.0.6'],
        ],
    ],
];
