<?php
/**
 * This is a sample parameters config file.
 * To use it, copy it to config/params-local.php and edit to your needs.
 */

return [
    // Maintenance Mode Settings
    // Set to true to activate, false to deactivate 
    'maintenance.enabled' => false,
    // Bootstrap CSS class for Alert background
    'maintenance.alertClass' => 'warning', 
    // Message to show
    'maintenance.message' => '<h4>'.'Important Notice'.'</h4>'.'The site is currently in maintenance mode.',
    
    // Bootswatch UI theme
    // cerulean, cosmo, cyborg, darkly, flatly, journal, litera, lumen, 
    // lux, materia, minty, pulse, sandstone, simplex, sketchy, 
    // slate, solar, spacelab, superhero, united, yeti
    // (see vendor/thomaspark/bootswatch directory names)
    'theme' => 'cerulean', 

    // Can be used to receive administrative emails (To:):
    'adminEmail' => 'YOURADMIN@DOMAIN.TLD',

    // Company Settings
    'company.name'                  => 'My Company Name',
    
    // *** Contact Form Settings ***
    // Send contact form email using this email as sender (From:):
    'contactForm.senderEmail'       => 'noreply@example.com',
    // Send contact form email using this name as sender (From:):
    'contactForm.senderName'        => 'Example.com mailer',
    // Send contact form email to this email (To:):
    'contactForm.recipientEmail'    => 'noreply@example.com',
    
    // Max. number of cost projects per user. 0=unlimited
    'user.maxNbrOfCostProjects' => 1,

    // Users Module: These users/netids are allowed to administer users:
    'userAdmins' => [
        // 'YOURADMINUSERNAMEHERE',
        // 'ANOTHERADMINUSERNAMEHERE', 
    ],
    // {{{ Attachments Module
    // List of allowed file extensions for upload as attachments to surveys:
    'uploadAllowedFileExtensions' => [
        'doc','docx','pdf','txt',
        'ppt','pptx',
        'tiff','jpg','jpeg','gif','png',
        'csv','xls','xlsx',
        'zip', '7z'
    ],
    // Maximum count of uploadable files:
    'uploadMaxFileCount' => 10, 
    // Maximum size per uploaded file / in Bytes:
    'uploadSingleFileMaxSize' => 70*1024,
    // }}} 

    // PayPal payment settings
    // Client ID:
    'paypal.clientId' => 'CHANGE_ME',
    // Client Secret:
    'paypal.clientSecret' => 'CHANGE_ME',

    // Payment options
    // Currency Code to be used (3 char. code):
    'paymentCurrencyCode' => null,
    // List of payment options:
    'paymentOptions' => [
        'CODE1' => [
                'value' => 9.99,
                'label' => '1 single cost project',
                'type'  => 'quantity', // or 'time',
                'description'
        ],
        // ...
    ],

];
